.cabezera{
    background-color: #b271dd;
    margin-bottom: 50px;
}
.cab1{
    position: relative;
    width: 600px;
    left: 50px;
    top: 30px;
}
.cab2{
    position: relative;
    left: 1200px;
    width: 250px;
    bottom: 40px;
    font-size: 30px;
}
div a{
    color: black;
}
h2{
    text-align: center;
}
#list{
    text-align: center;
}
table.list-table {
    margin-left: auto; 
    margin-right: auto;
  }
.list-table{
    margin: 25px 0;
    font-size: 1.3em;
    min-width: 400px;
}
.list-table thead tr{
    background-color:#b271dd;
    color: black;
    text-align: center;
    font-weight: bold;
}
.list-table th,
.list-table td
{
    padding: 12px 15px;
}
.list-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.lista-usuarios{
    margin-bottom: 50px;
}
.ingresar .ingresar-usuario{
    position: relative;
    width: 600px;
    left: 32%;
    margin-bottom: 30px;
}
.ingresar .form .ingresar-usuario .input{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.input-field{
    width: 400px;
    height: 30px;
    margin-top: 20px;
    position: absolute;
    left: 150px;
}
span{
    font-style: oblique;
    font-family: Arial;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 15px;
    width: 150x;
    
}
.button{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 100px;
    height: 40px;
    background-color: rgb(185, 111, 255);
    color: white;
    font-family: arial;
    font-weight: bold;
}