.cabezera{
    border: 2px coral;
}
h2{
    text-align: center;
}
#list{
    text-align: center;
}
table.list-table {
    margin-left: auto; 
    margin-right: auto;
  }
.list-table{
    margin: 25px 0;
    font-size: 1.3em;
    min-width: 400px;
}
.list-table thead tr{
    background-color: coral;
    color: black;
    text-align: center;
    font-weight: bold;
}
.list-table th,
.list-table td
{
    padding: 12px 15px;
}
.list-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}